{%extends "base.html" %} {%block home %}
<style type="text/css">
	.main {
		background-color: #e5e4d7;
		margin: 10px auto;
		padding: 20px;
		width: 87%;
        font-size: 14px;
	}
</style>
<div class="main">
	<h1>Welcome</h1>
	<p>
		Competitive programming combines two topics: the design of algorithms and the implementation of algorithms. Design of Algorithms The core of competitive programming is about inventing efficient algorithms that solve well-defined computational problems.
		The design of algorithms requires problem solving and mathematical skills. Often a solution to a problem is a combination of well-known methods and new insights. Mathematics plays an important role in competitive programming. Actually, there are no
		clear boundaries between algorithm design and mathematics. This book has been written so that not much background in mathematics is needed.
	</p>
</div>
{% endblock home %}